/* ---------- Section Header ---------- */
 
.ie .blue #sectionhead {
  	background-image: url(../../images/common/blueHeader_bg.gif);
        border-bottom-color: #cdd7a2;
}
  
.ie .blue #sectiontitle {
  	color: #cdd7a2;
  	border: none;
}
  
.blue #sectionhead {
	background-image: url(../../images/common/blueHeader_bg.gif);
        border-bottom-color: #cdd7a2;
}

.blue #sectiontitle {
	color: #cdd7a2;
	border: none;
}

.blue #headerlinks {
	position: absolute;
	bottom: 93%;
	right: 4%;
	padding 0;
	margin:0;
	color: #cdd7a2;
	text-decoration: none;
}

.blue #headerlinks a {
	color: #cdd7a2;
	text-decoration: none;
}

.blue #headerlinks a:hover {
        background-color: #cdd7a2;
	color: #273d5f;
	text-decoration: none;
}

/* ---------- Main navigation ---------- */

.blue #navigation {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;

}

.blue #navigation ul {
	margin-left:49px;
	margin-top:-3px;
	margin-right:0px;
        margin-bottom:0px;
	padding:0;
        list-style:none;
}

.blue #navigation li {
	float:left;
	background:url("../../images/common/blue-norm_right.gif") no-repeat right bottom;
	margin:0;
	padding:0;
}

.blue #navigation a {
	display:block;
	background:url("../../images/common/blue-norm_left.gif") no-repeat left bottom;
	padding:5px 15px;
	color: #000;
}


.blue #navigation li a {
	display: block;
	text-decoration: none;
}

.blue #navigation li a span {
	text-decoration: none;
}

.blue #navigation li.selected a,
.blue #navigation li a:hover {
	color: #000;
}

.blue #navigation li.selected {
	float:left;
	background: url("../../images/common/blue-norm_right_on.gif") no-repeat right bottom;
        margin:0;
	padding:0;
}

.blue #navigation li.selected a {
        display:block;
	background: url("../../images/common/blue-norm_left_on.gif") no-repeat left bottom;
	color: #fff;
}

.blue .js #add-page a span {
	background: url(../../images/common/add.png) no-repeat 0 50%;
}



/* ---------- Portlet ---------- */

/* sides */
.blue .portlet-l {background: url(../../images/common/dot.gif) 0 0 repeat-y}
.blue .portlet-r {background: url(../../images/common/dot.gif) 100% 0 repeat-y} 

/* corners */
.blue .portlet-bl {background: url(../../images/common/bl.gif) 0 100% no-repeat}
.blue .portlet-br {background: url(../../images/common/br.gif) 100% 100% no-repeat}
.blue .portlet-tl {background: url(../../images/common/tl.gif) 0 0 no-repeat}
.blue .portlet-tr {background: url(../../images/common/tr.gif) 100% 0 no-repeat} 


.blue .portlet {
	background: #FFF;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
        margin-bottom:10px;
	padding: 10px;
	color: #000;
	font-size: 10pt;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #627e82;
}

.ie .blue .portlet {
	margin-bottom: 0px;
}

.blue .portlet-topper {
	border-bottom: 2px solid #cdd7a2;
	padding-right: 40px;
}

.blue .portlet-title {
	color: #273d5f;
	padding: 5px;
	font-size: 13pt;
	font-weight: bold;
}

.ie .blue .portlet-title {
	padding-bottom: 5px;
}

.blue .portlet-icons {
	right: 6px;
}

.blue .portlet-icon-back,
.blue .portlet-icon-back:hover {
	color: #000;
}


/* ---------- Headers ---------- */

.blue h1 {
	font-size: 1.6em;
	color: #273d5f;
	padding: 5px;
	border-bottom: 2px solid #cdd7a2;
}

.blue h2 {
	font-size: 1.6em;
	color: #273d5f;
}

.blue h3 {
	font-size: 1.4em;
	color: #273d5f;
}

.blue h4 {
	font-size: 1.1em;
	color: #273d5f;
}

.blue h1, h2, h3 {
	margin: 1em 0;
}

.blue h5 {
	font-size: 1.1em;
}

.blue h6 {
	font-size: 1em;
}

.blue h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}

/* ---------- Links ---------- */

.blue a {
	color: #369;
	text-decoration: none;
}

.blue a:hover {
        background-color: #e5eebd;
	color: #273d5f;
	text-decoration: none;
}

.blue a:visited {
}

/* --------- Footer ----------- */

.blue .footer {
	color: #000000;
        text-decoration: none;
}

.blue .footer a {
	color: #000000;
	text-decoration: none;
}

.blue .footer a:hover {
        background-color: #cdd7a2;
	color: #273d5f;
}
  
