/* ---------- Section Header ---------- */
 
.ie .red #sectionhead {
  	background-image: url(../../images/common/redHeader_bg.gif);
  	height:50px;
  	border-bottom: 4px solid;
  	width: 100%;
  	margin:0;
  	padding:0;
  	background-repeat:repeat-x;
  	background-attachment:scroll;
        background-position:center top;
        border-bottom-color: #dac6a1;
}
  
.ie .red #sectiontitle {
  	color: #dac6a1;
  	border: none;
  	font-size: 22pt;
  	font-family: Georgia, "Times New Roman", times, serif;
  	margin-left:50px;
  	margin-right:0;
  	margin-top:0;
  	margin-bottom:10px;
  	padding-top: 10px;
  	padding-bottom:0;
  	padding-left:0;
        padding-right:0;
}
  
.red #sectionhead {
	background-image: url(../../images/common/redHeader_bg.gif);
	height:50px;
	border-bottom: 4px solid;
	width: 100%;
	margin:0;
	padding:0;
	background-repeat:repeat-x;
	background-attachment:scroll;
        background-position:center top;
        border-bottom-color: #dac6a1;
}

.red #sectiontitle {
	color: #dac6a1;
	border: none;
	font-size: 24pt;
	font-family: Georgia, "Times New Roman", times, serif;
	margin-left:50px;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	padding-top: 10px;
	padding-bottom:0;
	padding-left:0;
        padding-right:0;
}

.red #headerlinks {
	position: absolute;
	bottom: 93%;
	right: 4%;
	padding 0;
	margin:0;
	color: #dac6a1;
	text-decoration: none;
}

.red #headerlinks a {
	color: #dac6a1;
	text-decoration: none;
}

.red #headerlinks a:hover {
        background-color: #f8e6bb;
	color: #973028;
	text-decoration: none;
}

/* ---------- Main navigation ---------- */

.red #navigation {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;

}

.red #navigation ul {
	margin-left:49px;
	margin-top:-3px;
	margin-right:0px;
        margin-bottom:0px;
	padding:0;
        list-style:none;
}

.red #navigation li {
	float:left;
	background:url("../../images/common/green-norm_right.gif") no-repeat right bottom;
	margin:0;
	padding:0;
}

.red #navigation a {
	display:block;
	background:url("../../images/common/green-norm_left.gif") no-repeat left bottom;
	padding:5px 15px;
	color: #000;
}


.red #navigation li a {
	display: block;
	text-decoration: none;
}

.red #navigation li a span {
	text-decoration: none;
}

.red #navigation li.selected a,
.red #navigation li a:hover {
	color: #000;
}

.red #navigation li.selected {
	float:left;
	background: url("../../images/common/red-norm_right_on.gif") no-repeat right bottom;
        margin:0;
	padding:0;
}

.red #navigation li.selected a {
        display:block;
	background: url("../../images/common/red-norm_left_on.gif") no-repeat left bottom;
	color: #fff;
}

.red .js #add-page a span {
	background: url(../../images/common/add.png) no-repeat 0 50%;
}


/* ---------- Portlet ---------- */

/* sides */
.red .portlet-l {background: url(../../images/common/red-dot.gif) 0 0 repeat-y}
.red .portlet-r {background: url(../../images/common/red-dot.gif) 100% 0 repeat-y} 

/* corners */
.red .portlet-bl {background: url(../../images/common/red-bl.gif) 0 100% no-repeat}
.red .portlet-br {background: url(../../images/common/red-br.gif) 100% 100% no-repeat}
.red .portlet-tl {background: url(../../images/common/red-tl.gif) 0 0 no-repeat}
.red .portlet-tr {background: url(../../images/common/red-tr.gif) 100% 0 no-repeat} 


.red .portlet {
	background: #FFF;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
        margin-bottom:10px;
	padding: 10px;
	color: #000;
	font-size: 10pt;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #973028;
}

.ie .red .portlet {
	margin-bottom: 0px;
}

.red .portlet-topper {
	border-bottom: 2px solid #dac6a1;
	padding-right: 40px;
}

.red .portlet-title {
	color: #273d5f;
	padding: 5px;
	font-size: 13pt;
	font-weight: bold;
}

.ie .red .portlet-title {
	padding-bottom: 5px;
}

.red .portlet-icons {
	right: 6px;
}

.red .portlet-icon-back,
.red .portlet-icon-back:hover {
	color: #000;
}


/* ---------- Headers ---------- */

.red h1 {
	font-size: 1.6em;
	color: #273d5f;
	padding: 5px;
	border-bottom: 2px solid #dac6a1;
}

.red h2 {
	font-size: 1.6em;
	color: #273d5f;
}

.red h3 {
	font-size: 1.4em;
	color: #273d5f;
}

.red h4 {
	font-size: 1.1em;
	color: #273d5f;
}

.red h1, h2, h3 {
	margin: 1em 0;
}

.red h5 {
	font-size: 1.1em;
}

.red h6 {
	font-size: 1em;
}

.red h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}

/* ---------- Links ---------- */

.red a {
	color: #369;
	text-decoration: none;
}

.red a:hover {
        background-color: #f8e6bb;
	color: #973028;
	text-decoration: none;
}

.red a:visited {
}

/* --------- Footer ----------- */

.red .footer {
	color: #000000;
        text-decoration: none;
}

.red .footer a {
	color: #000000;
	text-decoration: none;
}

.red .footer a:hover {
        background-color: #f8e6bb;
	color: #973028;
}
  
